 @media (max-width: 720px) {
    .title {
      font-size: 32px;
      margin-bottom: 16px;
    }
    .todo-grid,.todo-input-grid {
      display:grid;
      grid-template-columns: 150px 100px 80px;
    }
    

    .add-todo-button, 
    .delete-todo-button  {
      font-size: 14px;
      padding: 8px;
    }

    .name-input, 
    .due-date-input {
      font-size: 15px;
      padding: 6px;
    }

    }

