body{
      font-family: arial;
    }

    .title {
      font-size: 36px;
      margin-bottom: 20px;
    }
    .todo-grid,.todo-input-grid {
      display:grid;
      grid-template-columns: 200px 150px 100px;
      column-gap: 10px;
      row-gap: 10px;
      align-items: center;
    }
    .todo-input-grid {
      margin-bottom: 10px;
      align-items: stretch;
    }

    .name-input, .due-date-input {
      font-size: 15px;
      padding: 6px;
    }

    .add-todo-button {
      background-color: green;
      color: white;
      border: none;
      font-size: 15px;
      cursor: pointer;
    }
    .delete-todo-button {
      background-color: darkred;
      color: white;
      border: none;
      font-size: 15px;
      cursor: pointer;
      padding: 10px 0;
    }

    @media (max-width: 720px) {
      .title {
      font-size: 32px;
      margin-bottom: 16px;
    }
       .todo-grid,.todo-input-grid {
      display:grid;
      grid-template-columns: 130px 90px 60px;
      column-gap: 7px;
      row-gap: 7px;
      align-items: center;
    }
    .todo-input-grid {
      margin-bottom: 10px;
      align-items: stretch;
    }

    .add-todo-button, 
    .delete-todo-button  {
      font-size: 14px;
      padding: 8px;
    }

    .name-input, 
    .due-date-input {
      font-size: 12px;
      padding: 6px;
    }

     .todo-grid {
      font-size: 15px;
    }
    }